doctype html
html(lang="ru")
	head
		title Клиенты
		meta(charset="utf-8")/
		link(rel="stylesheet" href="/bower_components/foundation/css/foundation.css")/
		link(rel="stylesheet" href="/css/style.css")/
		link(rel="stylesheet" href="/css/admin.css")/
		link(rel="stylesheet" href="/css/sf.css")/
	body
		.hflex
			each obj, qid in queues
				div(id="#{qid}").queue
					div.title= aliases[qid]
					each value, id in obj
						div.client= id
							button(onclick="admin.close('#{qid}', '#{id}');").closer.margin-0.padding-0

		script(src="/js/sf.js")
		script(src="/js/admin.js")
