each obj, qid in queues
	div(id="#{qid}").queue
		div.title= aliases[qid]
		each value, id in obj
			div.client= id
				label(for="check-delete-#{id}").closer
				input(type="checkbox" id="check-delete-#{id}")
				div.confirm-delete
					span Закрыть #{id} ?
					div(onclick="admin.close('#{qid}', '#{id}');").ok.buttons
					label(for="check-delete-#{id}").abort.buttons

